{
    "objects": [
        [
            {
                "chunk-size": 1,
                "count": 442,
                "filename": "bl1.bin.hardkernel",
                "install-condition": "content-diverges",
                "mode": "raw",
                "seek": 0,
                "skip": 0,
                "target": "/dev/mmcblk1",
                "target-type": "device",
                "truncate": false
            },
            {
                "chunk-size": 512,
                "count": -1,
                "filename": "bl1.bin.hardkernel",
                "install-condition": "content-diverges",
                "mode": "raw",
                "seek": 1,
                "skip": 1,
                "target": "/dev/mmcblk1",
                "target-type": "device",
                "truncate": false
            },
            {
                "chunk-size": 512,
                "count": -1,
                "filename": "u-boot-$MACHINE.bin",
                "install-condition": "content-diverges",
                "mode": "raw",
                "seek": 97,
                "skip": 0,
                "target": "/dev/mmcblk1",
                "target-type": "device",
                "truncate": false
            },
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.tar.xz",
                "filesystem": "ext4",
                "format-options": "-L system_a",
                "format?": true,
                "mode": "tarball",
                "target": "/dev/disk/by-label/system_a",
                "target-path": "/",
                "target-type": "device"
            }
        ],
        [
            {
                "chunk-size": 1,
                "count": 442,
                "filename": "bl1.bin.hardkernel",
                "install-condition": "content-diverges",
                "mode": "raw",
                "seek": 0,
                "skip": 0,
                "target": "/dev/mmcblk1",
                "target-type": "device",
                "truncate": false
            },
            {
                "chunk-size": 512,
                "count": -1,
                "filename": "bl1.bin.hardkernel",
                "install-condition": "content-diverges",
                "mode": "raw",
                "seek": 1,
                "skip": 1,
                "target": "/dev/mmcblk1",
                "target-type": "device",
                "truncate": false
            },
            {
                "chunk-size": 512,
                "count": -1,
                "filename": "u-boot-$MACHINE.bin",
                "install-condition": "content-diverges",
                "mode": "raw",
                "seek": 97,
                "skip": 0,
                "target": "/dev/mmcblk1",
                "target-type": "device",
                "truncate": false
            },
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.tar.xz",
                "filesystem": "ext4",
                "format-options": "-L system_b",
                "format?": true,
                "mode": "tarball",
                "target": "/dev/disk/by-label/system_b",
                "target-path": "/",
                "target-type": "device"
            }
        ]
    ],
    "product": "",
    "supported-hardware": [
        "$MACHINE"
    ],
    "version": null
}
